body {
  margin: 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  align-content: space-around;
  background-color: grey;

  border: 1px solid black;
  color: black;

  height: 45px;
  width: 100%;
}
.img_container{
    position: relative;
    text-align: center;
    color: white;
}
.middle_img {
  height: 550px;
  width: 100%;
  background-color: black;
  
}

