body {
  margin: 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  align-content: space-around;
  background-color: grey;
  border: 1px solid black;
  color: black;
  height: 45px;
  width: 100%;
}

.img_contanier {
  height: 550px;
  width: 100%;
  background-color: black;

  /* using a div and setting a background image */
  background: url("https://loremflickr.com/1080/720");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.centered {
  color: whitesmoke;
  font-size: xxx-large;
}
