.container{
  

}
.header{
    display:flex;

    
 background-color:#00796B;
 color: #880E4F;
 height: 100px;
 width: 100%; 
}

.body{
    display:flex;
    flex-wrap: wrap;
    margin: 50px;
    

}
.box1{
  
    width: 50%;
    height: 200px;
background-color: #880E4F;


}
.box2{
width: 50%;
height: 200px;
background-color:#7E57C2;

}
.box4{
  
    width: 50%;
    height: 200px;
background-color: #880E4F;


}
.box3{
width: 50%;
height: 200px;
background-color:#7E57C2;

}